/* Your app custom styles here */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.App input {
    margin-top: 20px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;

}

